section {
    font-family: Helvetica, sans-serif;
    background-color: black;
    display: flex;
    text-align: center;
}

section div {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border: ridge 20px red;
    background-color: aquamarine;
}

#message {
    width: 300px;
}

#txtArea {
    margin: 10px;
}

section button {
    height: 40px;
    border-radius: 12%;
    background-color: darkgreen;
    color: white;
}