section {
    font-family: Helvetica, sans-serif;
    background-color: black;
    display: none;
    /* display: flex; */
    text-align: center;
}

section div {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border: ridge 20px red;
    background-color: aquamarine;
}

#pseudo {
    width: 300px;
}

#score {
    width: 50px;
}

#txtArea {
    margin: 10px;
}

section button {
    height: 40px;
    border-radius: 12px;
    background-color: darkgreen;
    color: white;
    margin-left: 10px;
}